<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">QR File Manager App</h1>
      <p class="lead text-muted">
        This app is for create QR Code for file and download this file from cloud via this generated QR Code.
      </p>
      <p>
        <a mat-raised-button color="primary" [routerLink]="['qr-generator']">Generate QR Code</a>
      </p>
      <p>
        <a mat-raised-button color="primary" [routerLink]="['files']">List Files</a>
      </p>
    </div>
  </div>
</section>
